{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="clearfix">
         <div class="row">
            <div class="col-lg-8">
               <div class="page-header">
                  <h1>Invite people to the talk</h1>
               </div>
               <div class="content">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                  {%- if messages -%}
                  {%- for category, message in messages -%}
                  <div class="response">
                     <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                  </div>
                  {%- endfor -%}
                  {%- endif -%}
                  {%- endwith -%}
                  <form class="form-attendee" role="form" method="post" action="{{ url_for('save_attendee_talk', event_permalink=event_permalink, talk_permalink=talk_permalink) }}">
                     <fieldset>
                        <div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
                           {%- if error and error_type == 'validate' -%}
                           <label class="control-label" for="new-user-id">Required field</label>
                           {%- endif -%}
                           <input type="email" class="form-control" name="user-id" id="new-user-id" placeholder="Email" value="" required autocomplete="off">
                        </div>
                     </fieldset>
                     <div class="form-group">
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <input name="user-active" type="hidden" value="0">
                        <input name="user-role" type="hidden" value="User">
                        <input id="user-submit" type="submit" class="btn btn-primary" value="Invite">
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}