{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <div class="add-space row">
            <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <div class="row">
                     <div class="col-xs-3">
                        <i class="fa fa-asterisk fa-5x"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                        <div class="huge">{{ events_created }}</div>
                        <div>Events</div>
                     </div>
                  </div>
               </div>
               <a href="/events_list">
                  <div class="panel-footer">
                     <span class="pull-left">View Details</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
               <div class="panel-heading">
                  <div class="row">
                     <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                        <div class="huge">{{ talks_created }}</div>
                        <div>Talks</div>
                     </div>
                  </div>
               </div>
               <a href="/talks_list">
                  <div class="panel-footer">
                     <span class="pull-left">View Details</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
               <div class="panel-heading">
                  <div class="row">
                     <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                        <div class="huge">{{ attendees_number }}</div>
                        <div>Attendees</div>
                     </div>
                  </div>
               </div>
               <a href="/attendees">
                  <div class="panel-footer">
                     <span class="pull-left">View Details</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
         </div>
         <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
               <div class="panel-heading">
                  <div class="row">
                     <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                        <div class="huge">{{ organizers_number }}</div>
                        <div>Organizers</div>
                     </div>
                  </div>
               </div>
               <a href="/organizers">
                  <div class="panel-footer">
                     <span class="pull-left">View Details</span>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-lg-12">
            <h2>My events</h2>
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3>Events you organize</h3>
            {%- if organizer_at -%}
            <div class="content">
               <ul class="user-events">
                  <table class="table table-bordered table-hover table-condensed" style="border-radius:7px;-moz-border-radius: 7px; -webkit-border-radius : 7px;">

                  <tr class="info">
                      <td>Event</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                      <td>Admin</td>
                  </tr>
                  {%- for event in organizer_at -%}
                  <tr>
                      <td><li><a title="Preview" href="{{ url_for('single_event', permalink=event['permalink']) }}" data-target="_blank">{{ event['name'] }}</a></li></td>
                      <td>{{ event['start'] }}</td>
                      <td>{{ event['end'] }}</td>
                      <td><div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a title="List talks" href="{{ url_for('talks_by_event', event_permalink= event['permalink']) }}">List talks</a></li>
                                <li class="divider"></li>
                                <li><a title="Add talks to event" href="{{ url_for('new_talk', event_permalink=event['permalink']) }}">Add talks</a></li>
                                <li><a title="Invite attendees to event" href="{{ url_for('add_attendee_event', event_permalink=event['permalink']) }}">Invite people</a></li>
                                <li class="divider"></li>
                                <li><a title="Edit event" href="{{ url_for('event_edit', id=event['id']) }}">Edit event</a></li>
                                <li><a title="Delete event" href="{{ url_for('event_del', id=event['id']) }}">Delete</a></li>
                                </ul>

                      </div></td>
                  </tr>
                  {%- endfor -%}
                  </table>

               </ul>
            </div>
            {%- else -%}
            </br></br>
            {%- endif -%}
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-lg-12">
            <h3>Speaker at</h3>
            {%- if speaker_at -%}
            <div class="content">
               <ul class="user-events">
                  <table class="table table-bordered table-hover table-condensed" style="border-radius:7px;-moz-border-radius: 7px; -webkit-border-radius : 7px;">
                  <tr class="warning">
                      <td>Event</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                  </tr>
                  {%- for event_speaker in speaker_at -%}
                  <tr>
                      <td><li><a title="Preview" href="{{ url_for('single_event', permalink=event_speaker['permalink']) }}" data-target="_blank">{{ event_speaker['name'] }}</a></li></td>
                      <td>{{ event_speaker['start'] }}</td>
                      <td>{{ event_speaker['end'] }}</td>
                  </tr>
                  {%- endfor -%}
                  </table>

               </ul>
            </div>
            {%- else -%}
            </br></br>
            {%- endif -%}
            <!-- /.col-lg-12 -->
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3>Attendee at</h3>
            {%- if attendee_at -%}
            <div class="content">
               <ul class="user-events">
                  <table class="table table-bordered table-hover table-condensed" style="border-radius:7px;-moz-border-radius: 7px; -webkit-border-radius : 7px;">
                  <tr class="danger">
                      <td>Event</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                  </tr>
                  {%- for event_attendee in attendee_at -%}
                  <tr>
                      <td><li><a title="Preview" href="{{ url_for('single_event', permalink=event_attendee['permalink']) }}" data-target="_blank">{{ event_attendee['name'] }}</a></li></td>
                      <td>{{ event_attendee['start'] }}</td>
                      <td>{{ event_attendee['end'] }}</td>
                  </tr>
                  {%- endfor -%}
                  </table>

               </ul>
            </div>
            {%- else -%}
            </br></br>
            {%- endif -%}
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/plugins/metisMenu/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}