{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="row">
         <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <div class="row">
         <div class="col-lg-12">
            <h3>Events you organize</h3>
            {%- if organizer_at -%}
            <div class="content">
               <ul class="user-events">
                  {%- for event_organizer in organizer_at -%}
                  <li><a href="{{ url_for('single_event', permalink=event_organizer['permalink']) }}" data-target="_blank">{{ event_organizer['name'] }}</a> on {{ event_organizer['start'] }}</li>
                  {%- endfor -%}
               </ul>
            </div>
            {%- else -%}
            <div class="alert alert-info dashboard-alert" role="alert">You don't have events to organize.</div>
            {%- endif -%}
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-lg-12">
            <h3>Speaker at</h3>
            {%- if speaker_at -%}
            <div class="content">
               <ul class="user-events">
                  {%- for event_speaker in speaker_at -%}
                  <li><a href="{{ url_for('single_event', permalink=event_speaker['permalink']) }}" data-target="_blank">{{ event_speaker['name'] }}</a> on {{ event_speaker['start_date'] }}</li>
                  {%- endfor -%}
               </ul>
            </div>
            {%- else -%}
            <div class="alert alert-info dashboard-alert" role="alert">You don't have events to speak at.</div>
            {%- endif -%}
            <!-- /.col-lg-12 -->
         </div>
      </div>
      <!-- /.row -->
      <div class="row">
         <div class="col-lg-12">
            <h3>Attendee at</h3>
            {%- if attendee_at -%}
            <div class="content">
               <ul class="user-events">
                  {%- for event_attendee in attendee_at -%}
                  <li><a href="{{ url_for('single_event', permalink=event_attendee['permalink']) }}" data-target="_blank">{{ event_attendee['name'] }}</a> on {{ event_attendee['start'] }}</li>
                  {%- endfor -%}
               </ul>
            </div>
            {%- else -%}
            <div class="alert alert-info dashboard-alert" role="alert">You don't have events to attend to.</div>
            {%- endif -%}
         </div>
         <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}