{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/datepicker.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/timepicker.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/summernote.css') }}" rel="stylesheet">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      {% if session.get('talk-preview', None) %}
      {% set talk_name = session['talk-preview'].get('name', None) %}
      {% set talk_summary = session['talk-preview'].get('summary', None) %}
      {% set talk_description = session['talk-preview'].get('description', None) %}
      {% set talk_date = session['talk-preview'].get('date', None) %}
      {% set talk_start = session['talk-preview'].get('start', None) %}
      {% set talk_end = session['talk-preview'].get('end', None) %}
      {% set talk_room = session['talk-preview'].get('room', None) %}
      {% set talk_speaker = session['talk-preview'].get('speaker', None) %}
      {% set talk_tags = session['talk-preview'].get('tags', None) %}
      {% if tags %}
      {% set talk_tags = ','.join(tags) %}
      {% endif %}
      {% else %}
      {% set talk_name = talk.get('name') %}
      {% set talk_summary = talk.get('summary') %}
      {% set talk_description = talk.get('description') %}
      {% set talk_date = talk.get('date') %}
      {% set talk_start = talk.get('start') %}
      {% set talk_end = talk.get('end') %}
      {% set talk_room = talk.get('room') %}
      {% set talk_speaker = talk.get('speaker') %}
      {% set talk_tags = talk.get('tags') %}
      {% endif %}
      <div class="event clearfix">
         <div class="row">
            <div class="col-lg-8">
               <div class="page-header">
                  <h1>Edit Talk</h1>
               </div>
               <div class="content">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                  {%- if messages -%}
                  {%- for category, message in messages -%}
                  <div class="response">
                     <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                  </div>
                  {%- endfor -%}
                  {%- endif -%}
                  {%- endwith -%}
                  <a href="{{ url_for('add_attendee_talk', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}" class="response btn btn-primary">Invite People</a> </br></br>
                  <form id="post-form" role="form" method="post" action="{{ url_for('new_talk', event_permalink=event_permalink) }}">
                     <div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                        <label class="control-label" for="talk-name">Talk name</label>
                        {%- endif -%}
                        <label for="talk-name">Name</label>
                        <input type="text" class="form-control" name="talk-name" id="talk-name" placeholder="Talk Name" required value="{{ talk_name }}">
                     </div>
                     <div class="form-group">
                        <label for="talk-summary">Summary</label>
                        <div id="talk-summary" name="talk-summary" class="form-control">{{ talk_summary }}</div>
                     </div>
                     <div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                        <label class="control-label" for="talk-description">Required field</label>
                        {%- endif -%}
                         <label for="talk-description">Description</label>
                        <div id="talk-description" name="talk-description" class="form-control" required>{{ talk_description }}</div>
                     </div>
                     <div class="form-group">
                        <label for="talk-room">Room</label>
                        <input type="text" class="form-control" name="talk-room" id="talk-room" placeholder="Talk Room" value="{{ talk_room }}" required>
                     </div>
                     <div id="event-date" class="event-date">
                        <label for="talk-date">Date</label>
                        <input type="text" class="talk-date" name="talk-date" id="talk-date" value="{{ talk_date }}"/>
                     </div>
                     <div class="talk-time">
                        <label for="talk-start">Start</label>
                        <input type="text" class="talk-start" name="talk-start" id="talk-start" value="{{ talk_start }}"/>
                        <label for="talk-end">End</label>
                        <input type="text" class="talk-end" name="talk-end" id="talk-end" value="{{ talk_end }}"/>
                     </div>
                     <div class="form-group">
                        <label for="talk-tags">Tags</label>
                        <input type="text" name="talk-tags" class="form-control" id="talk-tags" placeholder="Comma separated" value="{{ talk_tags }}">
                     </div>
                     <fieldset>
                        <legend>Speaker</legend>
                        <div class="form-group">
                           <select name="talk-speaker" width="300px" >
                              {% for option in speakers_list %}
                              <option name="{{ option }}" selected>{{ option }} </option>
                              {% endfor %}
                           </select>
                        </div>
                     </fieldset>
                     <div class="form-group">
                        <input type="hidden" name="talk-preview" id="preview">
                        <input type="hidden" name="talk-id" value="{{ talk['_id'] }}">
                        <input type="hidden" name="event-permalink" value="{{ event_permalink }}">
                        <input type="hidden" name="talk-permalink" value="{{ talk['permalink'] }}">
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <input id="talk-submit" type="submit" class="btn btn-primary" value="Edit">
                        <input id="talk-preview" type="submit" class="btn" value="Preview">
                     </div>

                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- WYSIWYG editor -->
<script src="{{ url_for('static', filename='js/summernote.min.js') }}"></script>
<!-- Datepicker and timepicker -->
<script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/timepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/datetimepicker-binding.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}