{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="row">
         <div class="col-lg-12">
            <div class="page-header">
               {%- if users -%}
               <h1>"{{ event_name }}" attendance</h1>
            </div>
            <div class="content">
               {%- with messages = get_flashed_messages(with_categories=True) -%}
                    {%- if messages -%}
                        {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                        {%- endfor -%}
                    {%- endif -%}
               {%- endwith -%}
               <a href="{{ url_for('add_attendee_event', event_permalink=event_permalink) }}" class="response btn btn-primary"><i class="fa fa-user"></i> Invite people</a>
               <a href="{{ url_for('events') }}" class="response btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Back to events</a>
                  <table style="align: center; width: 60%;">
                  {%- for user in users -%}
                  <tr>
                     <td>
                     <div>
                        <img src="{{ user['gravatar_url'] }}" class="img-circle">
                     </div>
                     </td>
                     {%- if user['name'] -%}
                     <td><strong>{{ user['name'] }}</strong></td>
                     {%- else -%}
                     <td>{{ user['_id'] }}</td>
                     {%- endif -%}
                     <td><a title="Email" href="{{ url_for('view_user', id=user['_id']) }}" data-target="_blank">{{ user['_id'] }}</a></td>
                     <td><div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a title="Delete attendee" href="{{ url_for('delete_attendee_event', attendee_email=user['_id'], event_permalink=event_permalink) }}">Delete attendee</a></li>
                             </ul>
                         </div>
                     </td>
                  </tr>
                  {%- endfor -%}
                  </table>
            </div>
            {%- else -%}
            <div class="page-header">
                 <div class="alert alert-info" role="alert">There are no attendees for '{{ event_name }}' yet.</div>
            </div>
            <div>
                <a title="Invite attendees to event" href="{{ url_for('add_attendee_event', event_permalink=event_permalink) }}" class="btn btn-primary"><i class="fa fa-user"></i> Invite people</a>
            </div>
            {%- endif -%}
         </div>
      </div>
   </div>
</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}