{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="event">
         <div class="row">
            <div class="col-lg-12">
               <div class="page-header">
                  <h1>Events</h1>
               </div>
               <div class="content" ng-app="formApp" ng-controller="eventsController">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                        {%- if messages -%}
                            {%- for category, message in messages -%}
                            <div class="response">
                                <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                            </div>
                            {%- endfor -%}
                        {%- endif -%}
                  {%- endwith -%}
                  {%- if events -%}
                  <div class="table-actions">
                    <a href="{{ url_for('new_event') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
                    <button id="delete-events" type="button" class="btn btn-primary" ng-click="eventsToDelete()"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <table class="table table-hover">
                     <tr class="active">
                        <th><input type="checkbox" id="select-all" ng-click="clickDelete()" /></th>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Venue</th>
                        <th>Attendance</th>
                        <th>Actions</th>
                     </tr>
                     {%- set count = 1 -%}
                     {%- for event in events -%}
                     <tr>
                        <td><input type="checkbox" class="delete-event checkbox-bulk" name="delete-event" value="{{ event['permalink'] }}" id="event['permalink']" ng-model="formData.event{{ count }}" ng-click="clickDelete()"></td>
                        <td><a href="{{ url_for('single_event', event_permalink=event['permalink']) }}" data-target="_blank">{{ event['name'] }}</a></td>
                        <td>{{ event['start'] }}</td>
                        <td>{{ event['end'] }}</td>
                        <td>{{ event['venue'] }}</td>
                        <td><a title="Event attendees" href="{{ url_for('event_attendance', event_permalink=event['permalink']) }}" >{{ event['attendance'] }}</a></td>
                        <td><div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a title="Edit event" href="{{ url_for('event_edit', id=event['id']) }}">Edit event</a></li>
                                <li><a title="Delete event" href="{{ url_for('event_del', id=event['id']) }}">Delete event</a></li>
                                <li class="divider"></li>
                                <li><a title="Invite attendees to event" href="{{ url_for('add_attendee_event', event_permalink=event['permalink']) }}">Invite people</a></li>
                                <li class="divider"></li>
                                <li><a title="Add talks to event" href="{{ url_for('new_talk', event_permalink=event['permalink']) }}">Add talks</a></li>
                                <li><a title="List talks" href="{{ url_for('talks_by_event', event_permalink= event['permalink']) }}">List talks</a></li>
                                </ul>
                            </div>
                        </td>
                     </tr>
                     {% set count = count + 1 %}
                     {%- endfor -%}
                  </table>
               </div>
               {%- else -%}
               <div>
                 <div class="alert alert-info" role="alert">You are not organizing any event yet!</div>
                 <a href="{{ url_for('new_event') }}" class="response btn btn-primary"><i class="fa fa-plus"></i> Create event</a>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
   </div>
</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
<!-- Bulk actions -->
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/bulk-delete-events.js') }}"></script>
{%- endblock -%}