{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
	{%- if event -%}
		<div class="event content" style="background-color: white; padding-left: 35px;">
			<div class="row">
				<div class="col-lg-8">
					<div class="page-header">
						<h1>{{ event['name'] }}</h1>
						<div><i class="fa fa-user fa-fw" style="margin-top: 3%;"></i> Organized by {{ event['organizer'] }}</div>
                        <div><i class="fa fa-clock-o fa-fw"></i> From {{ event['start'] }} to {{ event['end'] }}</div>
                        <div><i class="fa fa-map-marker fa-fw"></i> at {{ event['venue'] }}</div>

                        <dl class="dl-horizontal" >
                            <dt>Summary:</dt>
                            <dd style="margin-top: 3%;">
                            {{ event['summary'] }}
                            </dd>

                            <dt style="margin-top: 3%;">Description:</dt>
                            <dd style="margin-top: 3%;">
                            {{ event['description'] }}
                            </dd>
                        </dl>


                        <div class="infopanel">
                        <div class="tags">
                           <span title="tags"><i class="fa fa-tags fa-fw"></i> </span>
                           {%- if event['tags'] -%}
                           {%- for tag in event['tags'] -%}
                           &nbsp;<a href="{{ url_for('events_by_tag', tag=tag) }}">{{ tag }}</a>
                           {%- endfor -%}
                           {%- endif -%}
                        </div>
                        </div>

					</div>

					<div class="preview-back">
						<a href="{{ session.get('event-preview')['redirect'] }}" class="response btn btn-primary"><i class="fa fa-chevron-circle-left"></i>&nbsp;Back</a>
					</div>
				</div>
			</div>
  		</div>
	{%- endif -%}
{%- endblock -%}
{%- block additional_js -%}
<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}
