<!DOCTYPE html>
<html lang="en">
	{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
	<body>
		<div id="wrapper" class="fullwidth">
			{%- block nav -%}
                {%- include 'nav.html' -%}
            {%- endblock -%}
			<div class="container">
				{%- block body -%}
					{%- if events -%}
						{%- for event in events -%}
							<div class="clearfix">
								<div class="row">
									<div class="col-lg-8">
										<div class="page-header">
											<h2><a href="{{ url_for('single_event', permalink=event['permalink']) }}" style="color:#250E9C;">{{ event['name'] }}</a></h2>
											<p><span class="icon-time"></span>
                                            <td>Organized by <a title="Organizer" href="{{ url_for('view_user', id=event['organizer']) }} " data-target="_blank" style="color:#250E9C;"> {{ event['organizer'] }}</a></td></p>

                                            <blockquote class=".col-md-4" style="margin-top=30px;">
                                                <dl class="dl-horizontal">
                                                <dt>Summary</dt>
                                                <dd>{{ event['summary']|markdown }}</dd>
                                                <dt>Description</dt>
                                                <dd>{{ event['description']|markdown }}</dd>
                                                <dt>Tags</dt>
                                                <dd class="tags">
						                        {%- if event['tags'] -%}
							                    {%- for tag in event['tags'] -%}
							                    <a href="{{ url_for('events_by_tag', event_permalink=event_permalink, tag=tag) }}" style="color:#250E9C;">{{tag }}</a>&nbsp;
                                                {%- endfor -%}
						                        {%- endif -%}
					                            </dd>
                                                </dl>
                                            </blockquote>
                                        </div>

									</div>
								</div>
							</div>
						{%- endfor -%}
					{% else %}
						<div class="clearfix">
							<div class="row">
								<div class="col-lg-8">
									<div class="page-header">
										<h1>Events not found..</h1>
									</div>
								</div>
							</div>
						</div>
					{%- endif -%}
					{%- include 'sidebar.html' -%}
				{%- endblock -%}
				{% if pagination and pagination.pages > 1 %}
					<div class="pagination-wrap">
						<ul class="pagination">
						  {% for page in pagination.iter_pages() %}
						    {% if page %}
						        <li>{% if page == pagination.page %}class="active"{% endif %}><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
						    {% else %}
						      <li><span class=ellipsis>…</span></li>
						    {% endif %}
						  {% endfor %}
						  {% if pagination.has_next %}
						    <li><a href="{{ url_for_other_page(pagination.page + 1)
						      }}">&raquo;</a></li>
						  {% endif %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
		{%- include 'footer.html' -%}
		{%- block scripts -%}
			<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
			<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		{%- endblock -%}
	</body>
</html>
