<!DOCTYPE html>
<html lang="en">
   {%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
   <body>
      <div id="wrapper" class="fullwidth">
         {%- block nav -%}
         {%- include 'nav.html' -%}
         {%- endblock -%}
         <div class="container">
            {%- block body -%}
            {%- if events -%}
            {%- for event in events -%}
            <div class="clearfix">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="page-header">
                        <h2><a href="{{ url_for('single_event', event_permalink=event['permalink']) }}">{{ event['name'] }}</a></h2>
                     </div>
                     <div><i class="fa fa-user fa-fw"></i> Event organized by <a title="Organizer" href="{{ url_for('view_user', id=event['organizer']) }} " data-target="_blank"> {{ event['organizer'] }}</a></div>
                     <div><i class="fa fa-clock-o fa-fw"></i> From {{ event['start'] }} to {{ event['end'] }}</div>
                     <div><i class="fa fa-map-marker fa-fw"></i> <a title="venue" href="https://www.google.com/maps/place/{{ event['venue'] }}" data-target="_blank">{{ event['venue'] }}</a></div>
                     <div class="content no-lightbox" style="margin-top: 3%;">
                        {{ event['summary'] }}
                     </div>
                     <div class="infopanel">
                        <div class="tags">
                           <span title="tags"><i class="fa fa-tags fa-fw"></i> </span>
                           {%- if event['tags'] -%}
                           {%- for tag in event['tags'] -%}
                           &nbsp;<a href="{{ url_for('events_by_tag', tag=tag) }}">{{ tag }}</a>
                           {%- endfor -%}
                           {%- endif -%}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="index-divider"></div>
            {%- endfor -%}
            {% else %}
            <div class="clearfix">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="page-header">
                        <div class="alert alert-info" role="alert">There are no events to show.</div>
                        <div>
                           {%- if session.user -%}
                           <a href="{{ url_for('new_event') }}">Create your own event!</a>
                           {%- else -%}
                           <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">sign up</a> to create your own event
                           {%- endif -%}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {%- endif -%}
            {%- include 'sidebar.html' -%}
            {%- endblock -%}
            {% if pagination and pagination.pages > 1 %}
            <div class="pagination-wrap">
               <ul class="pagination">
                  {% for page in pagination.iter_pages() %}
                  {% if page %}
                  <li>{% if page == pagination.page %}class="active"{% endif %}><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
                  {% else %}
                  <li><span class=ellipsis>…</span></li>
                  {% endif %}
                  {% endfor %}
                  {% if pagination.has_next %}
                  <li><a href="{{ url_for_other_page(pagination.page + 1)
                     }}">&raquo;</a></li>
                  {% endif %}
               </ul>
            </div>
            {% endif %}
         </div>
      </div>
      {%- include 'footer.html' -%}
      {%- block scripts -%}
      <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
      {%- endblock -%}
   </body>
</html>