{%- extends 'index.html' -%}
{%- block body -%}
<div id="wrapper">
      <div class="talk">
         <div class="row">
            <div class="col-lg-8">
               {%- if session.user and user_schedule -%}
               <div class="page-header">
                  <h2>My schedule for "{{ event['name'] }}"</h2>
               </div>
               <div class="content">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                        {%- if messages -%}
                            {%- for category, message in messages -%}
                            <div class="response">
                                <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                            </div>
                            {%- endfor -%}
                        {%- endif -%}
                  {%- endwith -%}
                  <a href="{{ url_for('single_event', event_permalink=event['permalink']) }}" class="btn btn-primary btn-back"><i class="fa fa-chevron-circle-left"></i> Back to the event</a>
                  <ul class="user-events">
                     {%- set previous_talk_date = user_schedule[0]['date'] %}
                     <div class="talk-date">{{ date_to_string(user_schedule[0]['date'], 'long') }}</div>
                     {%- for talk in user_schedule -%}
                        {%- if previous_talk_date.day != talk['date'].day or
                              previous_talk_date.month != talk['date'].month or
                              previous_talk_date.year != talk['date'].year -%}
                            <div class="talk-date">{{ date_to_string(talk['date'], 'long') }}</div>
                        {%- endif -%}
                        <span class="btn btn-default btn-talk">
                            <img src="/static/img/checked.png" class="select-talk" ng-click="addSched('{{ talk['permalink'] }}')"/>
                            <a href="{{ url_for('single_talk', event_permalink=event['permalink'], talk_permalink=talk['permalink']) }}">{{ talk['name'] }}</a>
                        </span>
                     {%- set previous_talk_date = talk['date'] %}
                     {%- endfor -%}
                  </ul>
               </div>
               {%- else -%}
               <div class="page-header">
                    <div class="alert alert-info" role="alert">There are no sessions in your schedule yet. <a href="{{ url_for('single_event', event_permalink=event['permalink']) }}">Go back to the event page and start picking talks!</a></div>
               </div>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
{%- include 'sidebar_event.html' -%}
{%- endblock -%}