<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('index') }}" class="navbar-brand">{{ site_title }}</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
		{% if session.user %}
            {% if session.user.role == 'Admin' %}
            <li><a href="{{ url_for('dashboard_admin') }}">Dashboard</a></li>
            {% elif session.user.role == 'User' %}
            <li><a href="{{ url_for('dashboard_user') }}">Dashboard</a></li>
            {% endif %}
			<li><a href="{{ url_for('logout') }}">Logout</a></span></li>
		{% else %}
			<li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
		{% endif %}
		</ul>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
</div>
