{%- extends 'index.html' -%}
{%- block body -%}
{% if session.get('event-preview') %}
		{% set event_name = session['event-preview'].get('name', None) %}
		{% set event_summary = session['event-preview'].get('summary', None) %}
		{% set event_description = session['event-preview'].get('description', None) %}
        {% set event_dateInit = session['event-preview'].get('dateInit', None) %}
        {% set event_dateEnd = session['event-preview'].get('dateEnd', None) %}
		{% set event_tags = session['event-preview'].get('tags', None) %}
	{% else %}
		{% set event_name = '' %}
		{% set event_summary = '' %}
		{% set event_description = '' %}
        {% set event_dateInit = '' %}
        {% set event_dateEnd = '' %}
		{% set event_tags = '' %}
	{% endif %}
<div class="event clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New event</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="event-form" role="form" method="post" action="{{ url_for('new_event') }}">
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="event-name">Required field</label>
							{%- endif -%}
						    <input type="text" class="form-control" name="event-name" id="event-name" placeholder="Event Name" value="{{ event_name }}" required>
					    </div>
						<div class="form-group">
						    <textarea id="event-summary" name="event-summary" class="form-control" rows="3" placeholder="Short summary of the Event">{{ event_summary }}</textarea>
					    </div>
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="event-description">Required field</label>
							{%- endif -%}
						    <textarea id="event-description" name="event-description" class="form-control" rows="6" placeholder="Event description" required>{{ event_description }}</textarea>
					    </div>
                        </br>
                        <div>
                            <div>
                            <label for="event-dateInit">Date Init</label>
                            <input id="event-dateInit" name="event-dateInit" type="date" autocorrect="off" autocapitalize="off"  size="9" tabindex="2">

                            <label for="event-dateEnd">Date End</label>
                            <input id="event-dateEnd" name="event-dateEnd" type="date" autocorrect="off" autocapitalize="off"  size="9" tabindex="3">

                            </div>
                        </div>
                        </br>
						<div class="form-group">
						    <label for="event-tags">Tags</label>
						    <input type="text" name="event-tags" class="form-control" id="event-tags" placeholder="Comma separated" value="{{ ','.join(event_tags) }}">
					    </div>
						<div class="form-group">
							<input type="hidden" name="event-preview" id="preview">
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						    <input id="event-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="event-preview" type="submit" class="btn" value="Preview">
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
{%- endblock -%}
{%- block scripts -%}
	<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/a-tools.js') }}"></script>
	<script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mdmagick.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{%- endblock -%}
