{%- extends 'index.html' -%}
{%- block body -%}
<div class="event clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New event</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="event-form" role="form" method="post" action="{{ url_for('new_event') }}">
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="event-name">Required field</label>
							{%- endif -%}
						    <input type="text" class="form-control" name="event-name" id="event-name" placeholder="Event Name" value="{{ event_name }}" required>
					    </div>
						<div class="form-group">
						    <textarea id="event-short" name="event-short" class="form-control" rows="3" placeholder="Short Text">{{ event_preview }}</textarea>
					    </div>
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="event-full">Required field</label>
							{%- endif -%}
						    <textarea id="event-full" name="event-full" class="form-control" rows="6" placeholder="Full Text" required>{{ event_description }}</textarea>
					    </div>
						<div class="form-group">
						    <label for="event-tags">Tags</label>
						    <input type="text" name="event-tags" class="form-control" id="event-tags" placeholder="Comma separated" value="{{ ','.join(event_tags) }}">
					    </div>
						<div class="form-group">
							<input type="hidden" name="event-preview" id="preview">
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						    <input id="event-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="event-preview" type="submit" class="btn" value="Preview">
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
{%- endblock -%}
{%- block scripts -%}
	<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/a-tools.js') }}"></script>
	<script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mdmagick.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{%- endblock -%}
