{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   {%- if session.user.role == 'admin' -%}
   <div id="page-wrapper">
      <div class="clearfix">
         <div class="row">
            <div class="col-lg-8">
               <div class="page-header">
                  <h1>Settings</h1>
               </div>
               <div class="content">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                  {%- if messages -%}
                  {%- for category, message in messages -%}
                  <div class="response">
                     <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                  </div>
                  {%- endfor -%}
                  {%- endif -%}
                  {%- endwith -%}
                  <form role="form" method="post" action="{{ url_for('configure_settings') }}">
                     <div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                        <label class="control-label" for="site-title">Required field</label>
                        {%- else -%}
                        <label class="control-label" for="site-title">OpenSched Title</label>
                        {%- endif -%}
                        <input type="text" class="form-control" name="site-title" id="site-title" placeholder="OpenSched Title" value="{{ default_settings['site_TITLE'] }}" required autocomplete="off">
                     </div>
                     <div class="form-group">
                        <label class="control-label" for="site-description">OpenSched Description</label>
                        <input type="text" class="form-control" name="site-description" id="site-description" placeholder="OpenSched Description" value="{{ default_settings['site_DESCRIPTION'] }}" autocomplete="off">
                     </div>
                     <div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
                        {%- if error and error_type == 'validate' -%}
                        <label class="control-label" for="site-perpage">Required field</label>
                        {%- else -%}
                        <label class="control-label" for="site-perpage">Events per page</label>
                        {%- endif -%}
                        <input type="number" min="1" class="form-control" name="site-perpage" id="site-perpage" placeholder="Events per page" value="{{ default_settings['PER_PAGE'] }}" required autocomplete="off">
                     </div>
                     <div class="checkbox">
                        <label>
                        <input type="checkbox" name="site-text-search" disabled> Use <abbr title="MongoDB version 2.4.6 with textSearchEnabled=true required. Otherwise $regex search will be used."> Text Search</abbr>
                        </label>
                     </div>
                     <div class="form-group">
                        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <input type="submit" class="btn btn-primary" value="Submit">
                     </div>
                  </form>
               </div>
            </div>
         </div>
     </div>
  </div>
</div>
        {%- include 'edit_user.html' -%}
   {%- else -%}
        {%- include 'edit_user.html' -%}
   {%- endif -%}
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/plugins/metisMenu/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
{%- endblock -%}