<div class="navbar-default sidebar" role="navigation">
   <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
         <li>
            {% if session.user and session.user.role == 'Admin' %}
            <a class="active" href="{{ url_for('dashboard_admin') }}"><i class="fa fa-dashboard fa-fw"></i> My dashboard</a>
            {% else %}
            <a class="active" href="{{ url_for('dashboard_user') }}"><i class="fa fa-dashboard fa-fw"></i> My dashboard</a>
            {% endif %}
         </li>
         <li>
            <a href="#"><i class="fa fa-asterisk fa-fw"></i> Events<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
               <li><a href="{{ url_for('events') }}">List events</a></li>
               <li><a href="{{ url_for('new_event') }}">New event</a></li>
            </ul>
            <!-- /.nav-second-level -->
         </li>
         {% if session.user and session.user.role == 'Admin' %}
         <li>
            <a href="#"><i class="fa fa-users fa-fw"></i> Users<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
               <li><a href="{{ url_for('users_list') }}">List users</a></li>
            </ul>
            <!-- /.nav-second-level -->
         </li>
         {% endif %}
         <li>
            <a class="active" href="{{ url_for('configure_settings') }}"><i class="fa fa-gears fa-fw"></i> Settings</a>
         </li>
      </ul>
   </div>
   <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>