{%- if recent_events -%}
<div class="col-lg-3 visible-lg sidebar">
    <h3><strong>Recent</strong> events</h3>
    <hr>
    <ul>
        {% for event in recent_events %}
        <li><a href="{{ url_for('single_event', event_permalink=event['permalink']) }}">{{ event['name'] }}</a></li>
        {% endfor %}
    </ul>
    <div class="sidebar-divider"></div>

    {%- if tags -%}
    <h3><strong>Top event</strong> topics</h3>
    <hr>
    <ul>
        {% for tag in tags %}
        <li><a href="{{ url_for('events_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
        {% endfor %}
    </ul>
    <div class="sidebar-divider"></div>
    {%- endif -%}
</div>
{%- endif -%}
