<div class="col-lg-3 visible-lg sidebar">
   {%- if event -%}
   <h2>Event details</h2>
   <p>Organized by {{ event['organizer'] }}</p>
   <p>{{ event['description'] }}</p>
   <p>From {{ event['start'] }} to {{ event['end'] }} at {{ event['venue'] }}</p>
   {%- endif -%}
   &nbsp; <br/>

   <h2>Let your friends know!</h2>
   <div class="social row-fluid">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
         <a class="addthis_button_twitter"></a>
         <a class="addthis_button_facebook"></a>
         <a class="addthis_button_google_plusone_share"></a>
         <a class="addthis_button_evernote"></a>
         <a class="addthis_button_pocket"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-526fe54e082798d3"></script>
      <!-- AddThis Button END -->
   </div>
   &nbsp; <br/>

   {%- if tags -%}
   <h2>Top tags talks</h2>
   <hr>
   <ul>
      {% for tag in tags %}
      <li><a href="{{ url_for('events_by_tag', page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
      {% endfor %}
   </ul>
   {%- endif -%}
</div>