<div class="col-lg-3 visible-lg sidebar">
   {%- if session.user -%}
   <h3><strong>My</strong> schedule</h3>
   <div>Logged in as {{ session.user.name }}</div>
   <div style="margin-top: 2%;"><a href="{{ url_for('my_schedule', event_permalink=event['permalink']) }}" class="btn btn-primary">My Schedule</a></div>
   <div class="sidebar-divider"></div>
   {%- endif -%}

   {%- if event -%}
   <h3><strong>Event</strong> details</h3>
   <div><i class="fa fa-user fa-fw"></i> Organized by <a title="Event organizer" href="{{ url_for('view_user', id=event['organizer']) }}" data-target="_blank"> {{ event['organizer'] }}</a></div>
   <div><i class="fa fa-clock-o fa-fw"></i> From {{event_start}} to {{ event_end }}</div>
   <div><i class="fa fa-map-marker fa-fw"></i> <a title="venue" href="https://www.google.com/maps/place/{{ event['venue'] }}" data-target="_blank">{{ event['venue'] }}</a></div>
   <div style="margin-top: 3%;">{{ event['summary'] }}</div>
   <div class="sidebar-divider"></div>
   {%- endif -%}

   <h3><strong>Let your friends</strong> know!</h3>
   <div class="social row-fluid">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
         <a class="addthis_button_twitter"></a>
         <a class="addthis_button_facebook"></a>
         <a class="addthis_button_google_plusone_share"></a>
         <a class="addthis_button_evernote"></a>
         <a class="addthis_button_pocket"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-526fe54e082798d3"></script>
      <!-- AddThis Button END -->
   </div>

   <div class="sidebar-divider"></div>

   {%- if tags -%}
   <h3><strong>Top talk</strong> topics</h3>
   <hr>
   <ul>
      {% for tag in tags %}
      <li><a href="{{ url_for('talks_by_tag', event_permalink=event['permalink'], page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
      {% endfor %}
   </ul>
   {%- endif -%}
</div>