<div class="col-lg-3 visible-lg sidebar">
   {%- if session.user -%}
   <h3><strong>My</strong> schedule</h3>
   <hr>
   <div>Logged in as {{ session.user.name }}</div>
   <a href="{{ url_for('my_schedule', event_permalink=event_permalink) }}" class="btn btn-primary my-schedule-btn">My schedule</a>
   <div class="sidebar-divider"></div>
   {%- endif -%}

   {%- if talk -%}
   <h3><strong>Talk</strong> details</h3>
   <hr>
   <div><i class="fa fa-user fa-fw"></i> Presented by <a title="Speaker" href="{{ url_for('view_user', id=talk['speaker']) }}" data-target="_blank"> {{ talk['speaker'] }}</a></div>
   <div><i class="fa fa-clock-o fa-fw"></i> On {{ talk['date'] }}, from {{ talk['start'] }} to {{ talk['end'] }}</div>
   <div><i class="fa fa-location-arrow fa-fw"></i> Room {{ talk['room'] }}</div>
   <div style="margin-top: 3%;">{{ talk['summary'] }}</div>
   <div class="sidebar-divider"></div>
   {%- endif -%}

   <h3><strong>Let your friends</strong> know!</h3>
   <hr>
   <div class="social row-fluid">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
         <a class="addthis_button_twitter"></a>
         <a class="addthis_button_facebook"></a>
         <a class="addthis_button_google_plusone_share"></a>
         <a class="addthis_button_evernote"></a>
         <a class="addthis_button_pocket"></a>
      </div>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-526fe54e082798d3"></script>
      <!-- AddThis Button END -->
   </div>
   <div class="sidebar-divider"></div>

   {%- if tags -%}
   <h3><strong>Talk</strong> tags</h3>
   <hr>
   <ul>
      {% for tag in tags %}
      <li><a href="{{ url_for('talks_by_tag', event_permalink=event_permalink, page=1, tag=tag['title']) }}">{{ tag['title'] }} <sup class="badge">{{ tag['count'] }}</sup></a></li>
      {% endfor %}
   </ul>
   <div class="sidebar-divider"></div>
   {%- endif -%}

</div>