{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" media="screen">{%- endblock -%}
{%- endblock -%}
{%- block body -%}
	{%- if talk -%}
		<div class="talk clearfix">
			<div class="row">
				<div class="col-lg-8">
					<div class="page-header">
						<h1>{{ talk['name'] }}</h1>
                        <small>{{ talk['date'] }} • {{ talk['start'] }} - {{ talk['end'] }}</small><br/>
                        <small>Room {{ talk['room'] }}</small><br/>
                        <small>Organized by <a title="Speaker" href="{{ url_for('view_user', id=talk['speaker']) }}" data-target="_blank"> {{ talk['speaker'] }}</a></small>
					</div>
                    <div>
                        {%- if session.user -%}
                            <a href="{{ url_for('new_schedule_talk', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}" class="single-sched">Add to my schedule!</a>
                        {%- else -%}
                            <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign up</a>
                        {%- endif -%}
                    </div>
                    &nbsp; <br/>
					<div class="content article">
						<div><h3>Summary</h3></div>
						{{ talk['summary']|markdown }}
                        <div><h3>Description</h3></div>
						{{ talk['description']|markdown }}
					</div>
					<div class="infopanel">
						<div class="tags">
							<i>tags:</i>
							{%- if talk['tags'] -%}
								{%- for tag in talk['tags'] -%}
									&nbsp;<a href="{{ url_for('talks_by_tag', event_permalink=event_permalink, tag=tag) }}">{{ tag }}</a>
								{%- endfor -%}
							{%- endif -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
	{%- include 'sidebar_talk.html' -%}
{%- endblock -%}

{%- block additional_js -%}
<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}
