{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
	{%- if talk -%}
		<div class="talk clearfix">
			<div class="row">
				<div class="col-lg-8">
					<div class="page-header">
						<h1>{{ talk['name'] }}</h1>
                    </div>

                    <div class="add-space row"></div>
                    <blockquote class=".col-md-4" style="margin-top=30px;">
                    <dl class="dl-horizontal">
                    <dt>Summary</dt>
                    <dd>{{ talk['summary'] }}</dd>
                    <dt>Description</dt>
                    <dd>{{ talk['description'] }}</dd>
                    <dt>Tags</dt>
                    <dd class="tags">
						{%- if talk['tags'] -%}
							{%- for tag in talk['tags'] -%}
							<a href="{{ url_for('talks_by_tag', event_permalink=event_permalink, tag=tag) }}">{{ tag }}</a>&nbsp;
							{%- endfor -%}
						{%- endif -%}
					</dd>
                    </dl>
                    </blockquote>


                    <div class="add-space row">
                    </div>
                       <div ng-app="" ng-controller="talkController">
                        <div>
                        {%- if session.user -%}
                            <a href="{{ url_for('new_schedule_talk', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}" class="btn btn-primary">Add to my schedule!</a>
                            <button ng-click="clickAttendees()" class="btn btn-primary">Attendees</button>
                        {%- else -%}
                            <button ng-click="clickAttendees()" class="btn btn-primary">Attendees</button>
                            <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign up</a>
                        {%- endif -%}
                        </div>

                        <div ng-show="showAttendees">
                            <ul class="list_none">
                            {%- if not attendees -%}
                                <h4>No attendees until now!</h4>
                            {%- endif -%}
                            {%- for attendee in attendees -%}
                            <li>
                                <div>
                                    <img src="{{ attendee['gravatar_url'] }}" class="img-circle">
                                    <td><strong>{{ attendee['name'] }}</strong></td>
                                    <a title="Attendee" href="{{ url_for('view_user', id=attendee['_id']) }}" data-target="_blank"> {{ attendee['_id'] }}</a>
                                </div>
                            </li>
                            {%- endfor -%}
                            </ul>
                        </div>
                    </div>

                    </br></br>

                    &nbsp; <br/>

                    <div>
                        <h4>Speaker</h4>
                        <img src="{{ speaker['gravatar_url'] }}" class="img-circle">
                        {{ speaker['name'] }}
                        <a title="Speaker" href="{{ url_for('view_user', id=speaker['_id']) }}" data-target="_blank"> {{ speaker['_id'] }}</a>
                    </div>

				</div>
			</div>

            <script>
            function talkController($scope) {
                $scope.showAttendees = false;

                $scope.clickAttendees = function() {
                    $scope.showAttendees = !$scope.showAttendees;
                };
            }
            </script>

            <script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>

		</div>
	{%- endif -%}
	{%- include 'sidebar_talk.html' -%}
{%- endblock -%}
{%- block additional_js -%}
<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}
