{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
{%- if event -%}
<div class="event clearfix">
   <div class="row">
      <div class="col-lg-8">
         <div class="page-header">
            <h1><a title="Preview" href="{{ url_for('single_event', permalink=event['permalink']) }}" data-target="_blank">{{ event['name'] }}</a></h1>
         </div>
         <div>
             <div class="add-space row"></div>
                <blockquote class=".col-md-4" style="margin-top=30px;">
                    <dl class="dl-horizontal">
                    <dt>Summary</dt>
                    <dd>{{ event['summary'] }}</dd>
                    <dt>Description</dt>
                    <dd>{{ event['description'] }}</dd>
                    <dt>Tags</dt>
                    <dd class="tags">
						{%- if event['tags'] -%}
							{%- for tag in event['tags'] -%}
							<a href="{{ url_for('events_by_tag', event_permalink=event_permalink, tag=tag) }}">{{ tag }}</a>&nbsp;
							{%- endfor -%}
						{%- endif -%}
					</dd>
                    </dl>
                </blockquote>
            {%- if session.user -%}
            <div ng-app="" ng-controller="eventController">

                <a href="{{ url_for('my_schedule', event_permalink=event['permalink']) }}" class="btn btn-primary">My Schedule</a>
                <button ng-click="clickSpeakers()" class="btn btn-primary">Speakers</button>
                <button ng-click="clickAttendees()" class="btn btn-primary">Attendees</button>




                <div ng-show="showSpeakers">
                    <ul class="list_none">
                    {%- if not speakers -%}
                        <h4>No talks, so no speakers until now!</h4>
                    {%- endif -%}
                    {%- for speaker in speakers -%}
                        <li>
                            <div>
                                <img src="{{ speaker['gravatar_url'] }}" class="img-circle">
                                <td><strong>{{ speaker['name'] }}</strong></td>
                                <a title="Speaker" href="{{ url_for('view_user', id=speaker['_id']) }}" data-target="_blank"> {{ speaker['_id'] }}</a>
                            </div>
                        </li>
                    {%- endfor -%}
                    </ul>
                </div>
                </br>

                <div ng-show="showAttendees">
                    <ul class="list_none">
                    {%- if not attendees -%}
                        <h4>No attendees until now!</h4>
                    {%- endif -%}
                    {%- for attendee in attendees -%}
                        <li>
                            <div>
                                <img src="{{ attendee['gravatar_url'] }}" class="img-circle">
                                <td><strong>{{ attendee['name'] }}</strong></td>
                                <a title="Attendee" href="{{ url_for('view_user', id=attendee['_id']) }}" data-target="_blank"> {{ attendee['_id'] }}</a>
                            </div>
                        </li>
                    {%- endfor -%}
                    </ul>
                </div>

            </div>
            {%- else -%}
            <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign up</a>
            {%- endif -%}
         </div>
         &nbsp; <br/>
         <div>
            <ul class="user-talks">
               {%- for talk in talks -%}

               <form name="talks_by_event" ng-controller="Talks_by_Event">
                    <h3><input type="checkbox" ng-model="checkbox-{{ talk['permalink'] }}" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="new_schedule_talk(event_permalink,talk['permalink'])">
                    <a title="Preview" href="{{ url_for('single_talk', event_permalink=event['permalink'], talk_permalink=talk['permalink']) }}" data-target="_blank">{{ talk['name'] }}</a></h3>
               </form>



               {%- endfor -%}
            </ul>
         </div>
      </div>
   </div>



    <script>
    function eventController($scope) {
        $scope.showSpeakers = false;
        $scope.showAttendees = false;
        $scope.clickSpeakers = function() {
            $scope.showAttendees = false;
            $scope.showSpeakers = !$scope.showSpeakers;
        };
        $scope.clickAttendees = function() {
            $scope.showSpeakers = false;
            $scope.showAttendees = !$scope.showAttendees;

        };
    }
    </script>

    <script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>


</div>
{%- endif -%}
{%- include 'sidebar_event.html' -%}
{%- endblock -%}
{%- block additional_js -%}
<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}