{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
{%- if event -%}
<div class="event clearfix">
   <div class="row">
      <div class="col-lg-8">
         <div class="page-header">
            <h1>{{ event['name'] }}</h1>
         </div>
         <div>
            {%- if session.user -%}
            <a href="{{ url_for('my_schedule', event_permalink=event['permalink']) }}" class="single-sched">My Schedule</a>
            <a href="" class="single-sched">Speakers</a>
            <a href="" class="single-sched">Attendees</a>
            {%- else -%}
            <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign up</a>
            {%- endif -%}
         </div>
         &nbsp; <br/>
         <div>
            <ul class="user-talks">
               {%- for talk in talks -%}
               <li><h3><a title="Preview" href="{{ url_for('single_talk', event_permalink=event['permalink'], talk_permalink=talk['permalink']) }}" data-target="_blank">{{ talk['name'] }}</a></h3></li>
               {%- endfor -%}
            </ul>
         </div>
      </div>
   </div>
</div>
{%- endif -%}
{%- include 'sidebar_event.html' -%}
{%- endblock -%}
{%- block additional_js -%}
<script src="{{ url_for('static', filename='js/lightbox-2.6.min.js') }}"></script>
{%- endblock -%}