{%- extends 'index.html' -%}
{%- block head -%}
{%- include 'head.html' -%}
{%- block additional_css -%}
<link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
{%- endblock -%}
{%- block body -%}
<div id="wrapper">
   {%- include 'side_nav.html' -%}
   <div id="page-wrapper">
      <div class="talk">
         <div class="row">
            <div class="col-lg-12">
               <div class="page-header">
                  <h1>Talks</h1>
               </div>
               <div class="content" ng-app="formApp" ng-controller="talksController">
                  {%- with messages = get_flashed_messages(with_categories=True) -%}
                    {%- if messages -%}
                        {%- for category, message in messages -%}
                        <div class="response">
                            <span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
                        </div>
                        {%- endfor -%}
                    {%- endif -%}
                  {%- endwith -%}
                  {%- if talks -%}
                  <div class="table-actions">
                    <a href="{{ url_for('events') }}" class="btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Back to events</a>
                    <a href="{{ url_for('new_talk', event_permalink=event_permalink) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Add new</a>
                    <button id="delete-talks" type="button" class="btn btn-primary" ng-click="talksToDelete()"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <table class="table table-hover">
                     <tr class="active">
                        <td><input type="checkbox" id="select-all" ng-click="clickDelete()" /></td>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Room</th>
                        <th>Attendance</th>
                        <th>Actions</th>
                     </tr>
                     {%- set count = 1 -%}
                     {%- for talk in talks -%}
                     <tr>
                        <td><input type="checkbox" class="delete-talk checkbox-bulk" name="delete-talk" value="{{ talk['permalink'] }}" id="talk['permalink']" ng-model="formData.talk{{ count }}" ng-click="clickDelete()"></td>
                        <td><a href="{{ url_for('single_talk', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}" data-target="_blank">{{ talk['name'] }}</a></td>
                        <td>{{ talk['date']  }}</td>
                        <td>{{ talk['start'] }}</td>
                        <td>{{ talk['end'] }}</td>
                        <td>{{ talk['room'] }}</td>
                        <td><a title="{{ talk['name'] }} attendance" href="{{ url_for('talk_attendance', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}" >{{ talk['attendance'] }}</a></td>
                        <td><div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a title="Edit talk" href="{{ url_for('talk_edit', event_permalink=event_permalink, id=talk['_id']) }}">Edit talk</a></li>
                                    <li><a title="Delete talk" href="{{ url_for('talk_del', event_permalink=event_permalink, id=talk['_id']) }}">Delete talk</a></li>
                                    <li class="divider"></li>
                                    <li><a title="Add attendees to talk" href="{{ url_for('add_attendee_talk', event_permalink=event_permalink, talk_permalink=talk['permalink']) }}">Invite people</a></li>
                                </ul>
                            </div>
                        </td>
                     </tr>
                     {% set count = count + 1 %}
                     {%- endfor -%}
                  </table>
               </div>
               {%- else -%}
               <div>
                    <div class="alert alert-danger" role="alert">There are no talks for this event yet!</div>
                    <a href="{{ url_for('new_talk', event_permalink=event_permalink) }}" class="response btn btn-primary"><i class="fa fa-plus"></i> Add talk</a>
                    <a href="{{ url_for('events') }}" class="response btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Back to events</a>
               </div>
               {%- endif -%}
            </div>
         </div>
      </div>
   </div>
</div>
{%- endblock -%}
{%- block scripts -%}
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
<!-- Bulk actions -->
<script src="{{ url_for('static', filename='js/checkbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/bulk-delete-talks.js') }}"></script>
{%- endblock -%}