{%- extends 'index.html' -%}
{%- block body -%}
	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>Perfil user</h1>
				</div>
				<div class="content" style="font-size: 16px">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					{%- if user -%}
					<form class="form-user" role="form">
							<div class="photo-user">
								<img src="{{ user['gravatar_url'] }}" class="img-circle">
							</div>
							<div>
                                </br>
                                <dl>
                                <dd>{{ user['name'] }}</dd>
                                <dd>{{ user['_id'] }}</dd>
                                </dl>
                            </div>
                    </form>
                    </br></br></br>
                    <div>
                        <h4>About {{ user['name'] }}</h4>
                        <p>{{ user['bio'] }}</p>
                    </div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endblock -%}
